.App {
  text-align: center;
}

.title {
  font-size: x-large;
}

.subHeading {
  font-size: x-large;
}

.App-header {
  background-color: #282c34;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
main {
  padding-top: 50vh;
  background-color: #282c34;
  color: white;
}
#about h1 {
}
#about h2 {
}
#about ul {
}

#experience h1 {
}
#experience h2 {
}
#experience ul {
}

#skills h1 {
}
#skills h2 {
}
#skills ul {
}

#projects h1 {
}
#projects h2 {
}
#projects ul {
}

#contact h1 {
}
#contact h2 {
}
#contact ul {
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
